.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  width: 100%;
  height: 140px;
  background: #21BACF;
}
.contentContainer {
  width: calc(100% - 40px);
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.searchMenuContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
.menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 8px;
  width: 230px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: calc(100% - 24px);
  height: 42px;
  padding: 0px 12px;
  gap: 12px;
  
  background: #749EB2;
  border-radius: 5px;
  flex: none;
  border: none;
}
.title {
  width: 82px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #002032;
  flex: none;
  order: 0;
  flex-grow: 0;

}
.searchContainer {
  width: 230px;
  height: 42px;
  display: flex;
  position: relative;
  align-items: center;
}
.icon {
  width: 40px;
  height: 40px;
}


.search {
  width: 24px;
  height: 24px;
  color: black;
  z-index: 2;
  position: absolute;
  right: 4px;
}
