.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #749EB2;
}

.title {
  width: 149px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  /* border: 1px solid #000000; */
  text-decoration: solid;
  -webkit-text-stroke: 1px black;
  margin-top: 12px;
}

.filters {
  display: flex;
}

.feedContent {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}