.home {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  height: 100vh;
  align-items: center;
  background-color: #f9f9f7;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  min-width: 390px;
  width: 100%;
  height: 120px;
  left: 0px;
  top: 0px;

  /* principal */

  background: #e9dac4;
}

.title {
  width: 219px;
  height: 41px;

  /* titles - 36 */

  font-family: 'Roboto', sans-serif;
;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

  /* secondary */

  color: #bd8e83;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.image {
  margin-top: 124px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 212px;
  height: 56px;
  border: none;
  /* contrast */

  background: #749eb2;
  border-radius: 5px;
}

.span {
  width: 66px;
  height: 28px;
  /* 24px */
  color: white;

  font-family: 'Roboto', sans-serif;
;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 124px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  width: fit-content;
  margin-top: 16px;
  /* darkest beige */

  color: #1C77FF;
  cursor: pointer;
}
