.page {
  width: 100%;
  min-width: 360px;
  display: flex;
  min-height: 740px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f7;
}

.title {
  width: 114px;
  height: 32px;

  font-family: 'Roboto', sans-serif;
;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ac8e60;
  margin-top: 36px;
}

.separator {
  width: 320px;
  height: 1px;
  background-color: #ac8e60;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 28px;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  height: 32px;

  font-family: 'Roboto', sans-serif;
;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #749EB2;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 16px;

  width: 320px;
  height: 56px;
  border: none;
  background: #E8F0FE;
  color: black;
  border-radius: 5px;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  width: 374px;
  height: 56px;
  border: none;
  background: #E8F0FE;
  font-size: 12px;
  color: black;
  border-radius: 5px;
}

.nextButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 46px;
  gap: 8px;
  width: 152px;
  height: 56px;

  background: #749eb2;
  border-radius: 5px;
  color: #ffffff;
}
.registerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 56px;
  margin-top: 252px;
  background: #749eb2;
  border-radius: 5px;
  color: #ffffff;
}